@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #4b4b4b;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

h1{
    margin: 30px 0;
    text-align: center;
}

.container{
    display: flex;
    height: 720px;
}

/* Left pannel */

.left-pannel{
    display: flex;
    flex-direction: column;
}

.debug{
    overflow-y: scroll;
    padding: 10px;
    width: 350px;
    height: 200px;
    background-color: #333;
    font-size: 13px;
    line-height: 20px;
    word-wrap: break-word;
}

.word-suggestions{
    overflow-y: scroll;
    flex: 1;
    width: 350px;
    padding: 10px;
    background-color: #333;
    word-wrap: break-word;
}

.word-suggestions--word{
    display: inline-block;
    margin: 2px;
    padding: 6px;
    background-color: #262626;
    cursor: pointer;
    font-size: 14px;
}

.change-room{
    display: flex;
}

.change-room--input{
    flex: 1;
    padding: 15px 10px;
    color: #fff;
    background-color: #2c2c2c;
    border: 0;
}

.change-room--submit{
    width: 50px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
    border: 0;
}

.change-room--submit:hover{
    background-color: #373737;
}

.votekick--submit{
    width: 100%;
    padding: 15px 10px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
    border: 0;
}

.votekick--submit:hover{
    background-color: #373737;
}

/* Draw */

.draw{
    flex: 1;
    background-color: #3d3d3d;
}

.draw--guess-word{
    margin: 25px 0;
    text-align: center;
    letter-spacing: 10px;
}

#myCanvas{
    display: block;
    margin: 0 auto;
    background-color: #fff;
    /* border: 1px solid #000; */
}

/* Chat */

.chat{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 400px;
    padding-top: 5px;
    background-color: #333;
}

.chat-display{
    flex: 1;
    overflow-y: scroll;
    padding: 0 5px;
}

.chat-message{
    padding: 7px;
    font-size: 14px;
    word-wrap: break-word;
}

.chat-message:nth-child(odd){
    background-color: #393939;
}

.chat-message:nth-child(even){
    background-color: #363636;
}

.chat-message--name{
    font-weight: bold;
}

.chat-message--name::after{
    content: ': ';
}

.chat-input{
    padding: 8px;
    background-color: #2c2c2c;
}
.chat-input input{
    box-sizing: border-box;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #2c2c2c;
    border: 0;
}